{% extends "template.html" %}

	{% block body %}
	

		<!-- ============================ Hero Banner  Start================================== -->
		<div class="py-5 bg-info position-relative">
			<div class="container">

				<!-- Search Form -->
				<div class="row justify-content-center align-items-center">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="search-wrap bg-white rounded-3 p-3">
						  <div class="search-upper">
							<div class="d-flex align-items-center justify-content-between flex-wrap">
							
							</div>
						  </div>
						  <form action="{% url 'available_routes' %}" method="GET">
							<div class="row gx-lg-2 g-3">
			
							  <div class="col-xl-6 col-lg-6 col-md-12">
								<div class="row gy-3 gx-lg-2 gx-3">
								  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 position-relative">
									<div class="form-group hdd-arrow mb-0">
									  <select class="leaving form-control fw-bold" name="boardingpoint" id="boardingpoint">
										<option value="">Select</option>
										{% for i in boardingpoint %}
										
										<option value="{{i.name}}">{{i.name}}</option>
										{% endfor %}
									  
									  </select>
									</div>
									<div class="btn-flip-icon mt-md-0">
									  <button class="p-0 m-0 text-primary"><i class="fa-solid fa-right-left"></i></button>
									</div>
								  </div>
								  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
									<div class="form-groupp hdd-arrow mb-0">
									  <select class="goingto form-control fw-bold" name="droppingpoints" id="droppingpoint">
										<option value="">Select</option>
										{% for i in droppingpoints %}
										<option value="{{i.name}}">{{i.name}}</option>
										{% endfor %}
									  </select>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="col-xl-4 col-lg-4 col-md-12">
								<div class="row gy-3 gx-lg-2 gx-3">
								  <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
									<div class="form-group mb-0">
									  <input class="form-control fw-bold choosedate" id="to1" name="boarding_date" type="date" placeholder="Departure.."
										readonly="readonly">
									</div>
								  </div>
								
								</div>
							  </div>
							  <div class="col-xl-2 col-lg-2 col-md-12">
								<div class="form-group mb-0">
								  <button type="submit" class="btn btn-warning full-width fw-medium" onclick="window.location.href='{% url 'available_routes' %}'"><i
									  class="fa-solid fa-magnifying-glass me-2"></i>Search</button>
								</div>
							  </div>
							  
							  
							</div>
						  </form>
						</div>
					  </div>
				</div>
				<!-- </row> -->

			</div>
		</div>
		<!-- ============================ Hero Banner End ================================== -->


		<!-- ============================ All Flits Search Lists Start ================================== -->
		<section class="gray-simple">
			<div class="container">
				<div class="row justify-content-between gy-4 gx-xl-4 gx-lg-3 gx-md-3 gx-4">

					<!-- Sidebar Filter Options -->
					<div class="col-xl-3 col-lg-4 col-md-12">
						<div class="filter-searchBar bg-white rounded-3">
							<div class="filter-searchBar-head border-bottom">
								<div class="searchBar-headerBody d-flex align-items-start justify-content-between px-3 py-3">
									<div class="searchBar-headerfirst">
										<h6 class="fw-bold fs-5 m-0">Filters</h6>
									</div>
									<div class="searchBar-headerlast text-end">
										<a href="{% url 'available_routes' %}" class="text-md fw-medium text-primary active">Clear All</a>
									</div>
								</div>
							</div>

							<div class="filter-searchBar-body">

								<!-- Departure & Return -->
								<div class="searchBar-single px-3 py-3 border-bottom">
									<div class="searchBar-single-title d-flex mb-3">
										<h6 class="sidebar-subTitle fs-6 fw-medium m-0">Facilities</h6>
									</div>
									<div class="searchBar-single-wrap mb-4">
										<ul class="row align-items-center justify-content-between p-0 gx-3 gy-2">
											{% for i in busfacility %}
											
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="Facilities{{forloop.counter}}" value="{{i.name}}">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width"
												for="Facilities{{forloop.counter}}">{{i.name}}</label>
											</li>
											{% endfor %}
											
										</ul>
									</div>


									<div class="searchBar-single-title d-flex mb-3">
										<h6 class="sidebar-subTitle fs-6 fw-medium m-0">Departure</h6>
									</div>
									<div class="searchBar-single-wrap mb-4">
										<ul class="row align-items-center justify-content-between p-0 gx-3 gy-2">
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="before6am">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width"
													for="before6am">Before 6AM</label>
											</li>
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="6am12pm">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width" for="6am12pm">6AM -
													12PM</label>
											</li>
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="12pm6pm">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width" for="12pm6pm">12PM -
													6PM</label>
											</li>
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="after6pm">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width" for="after6pm">After
													6PM</label>
											</li>
										</ul>
									</div>

									<div class="searchBar-single-title d-flex mb-3">
										<h6 class="sidebar-subTitle fs-6 fw-medium m-0">Return</h6>
									</div>
									<div class="searchBar-single-wrap">
										<ul class="row align-items-center justify-content-between p-0 gx-3 gy-2">
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="before6am1">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width"
													for="before6am1">Before 6AM</label>
											</li>
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="6am12pm1">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width" for="6am12pm1">6AM -
													12PM</label>
											</li>
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="12pm6pm1">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width" for="12pm6pm1">12PM
													- 6PM</label>
											</li>
											<li class="col-6">
												<input type="checkbox" class="btn-check" id="after6pm1">
												<label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width"
													for="after6pm1">After 6PM</label>
											</li>
										</ul>
									</div>

								</div>

						

							</div>
						</div>
					</div>

					<!-- All Flight Lists -->
					<div class="col-xl-9 col-lg-8 col-md-12">

						<div class="col-xl-12 col-lg-12 col-12">
							<div class="pags card py-2 px-5">
								<nav aria-label="Page navigation example">
									<ul class="pagination m-0 p-0">
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Previous">
												<span aria-hidden="true"><i class="fa-solid fa-arrow-left-long"></i></span>
											</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Next">
												<span aria-hidden="true"><i class="fa-solid fa-arrow-right-long"></i></span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>


						<div class="row align-items-center g-4 mt-2">
							{% for i in allroutes %}
							
							<!-- Single Flight -->
							<div class="col-xl-12 col-lg12 col-md-12">
								<div class="flights-accordion">
									<div class="flights-list-item bg-white rounded-3 p-3">
										<div class="row gy-4 align-items-center justify-content-between">

											<div class="col">
												<div class="row">
													<div class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-between">
														<div class="d-flex align-items-center mb-2">
															<span class="label bg-light-primary text-primary me-2">Departure</span>
															<span class="text-muted text-sm">{{i.route.boarding_date }}</span>
														</div>

														<div class="d-flex align-items-center mb-2">
															<span class="text-bold text-large">Available Seats : {{ i.available_seats}}</span>
														</div>
														
													</div>
													
													<div class="col-xl-12 col-lg-12 col-md-12">
														<div class="row gx-lg-5 gx-3 gy-4 align-items-center">

															<div class="col-sm-auto">
																<div class="d-flex align-items-center justify-content-start">
																	<div class="d-start fl-pic">
																		<img class="img-fluid" src="../static/img/logo.png" width="45" alt="image">
																	</div>
																	<div class="d-end fl-title ps-2">
																		<div class="text-dark fw-medium">Kavya Travels</div>
																	</div>
																</div>
																<div class="text-muted fw-sm">{% for j in i.route.facilites.all %}
																{{j.name}}, 
																{% endfor %}</div>

															</div>

															<div class="col">
																<div class="row gx-3 align-items-center">
																	<div class="col-auto">
																		<div class="text-dark fw-bold">{{i.route.boarding_time}}</div>
																		<div class="text-muted text-sm fw-medium">{{i.route.boarding_point.name}}</div>
																	</div>

																	<div class="col text-center">
																		<span class="svg-icon svg-icon-muted svg-icon-2hx px-1">
																			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			  <path
																				d="M17.4 7H4C3.4 7 3 7.4 3 8C3 8.6 3.4 9 4 9H17.4V7ZM6.60001 15H20C20.6 15 21 15.4 21 16C21 16.6 20.6 17 20 17H6.60001V15Z"
																				fill="currentColor" />
																			  <path opacity="0.3"
																				d="M17.4 3V13L21.7 8.70001C22.1 8.30001 22.1 7.69999 21.7 7.29999L17.4 3ZM6.6 11V21L2.3 16.7C1.9 16.3 1.9 15.7 2.3 15.3L6.6 11Z"
																				fill="currentColor" />
																			</svg>
																		  </span>
																		{% comment %} <div class="text-muted text-sm fw-medium mt-3">Thane</div> {% endcomment %}
																	</div>

																	<div class="col-auto">
																		<div class="text-dark fw-bold">{{i.route.dropping_time}}</div>
																		<div class="text-muted text-sm fw-medium">{{ i.last_dropping_point.dropping_point.name}}</div>
																	</div>
																</div>
															</div>

															<div class="col-md-auto">
																<div class="text-dark fw-medium">{{i.travel_duration}}</div>
																<div class="text-muted text-sm fw-medium">{{i.route.route_dropping_points.route_dropping_point.all.count}} Stop</div>
															</div>
														</div>
														<div class="d-flex justify-content-center align-items-center">
															<p>{{i.route.boarding_point.name}} </p> 
															<p> {% for j in i.route.route_dropping_points.route_dropping_point.all  %}
																 - {{j.dropping_point.name}}
															{% endfor %} </p> 
														</div>

													</div>
												</div>

											
											</div>

											<div class="col-md-auto">
												<div class="d-flex items-center h-100">
													<div class="d-lg-block d-none border br-dashed me-4"></div>
													<div>
														{% comment %} <div class="d-flex align-items-center justify-content-md-end mb-3">
															<span class="square--20 rounded text-xs text-muted border me-2" data-bs-toggle="tooltip"
																data-bs-placement="top" data-bs-title="Free WiFi"><i
																	class="fa-solid fa-wifi"></i></span>
															<span class="square--20 rounded text-xs text-muted border me-2" data-bs-toggle="tooltip"
																data-bs-placement="top" data-bs-title="Food Available"><i
																	class="fa-solid fa-utensils"></i></span>
															<span class="square--20 rounded text-xs text-muted border me-2" data-bs-toggle="tooltip"
																data-bs-placement="top" data-bs-title="One Cup Tea"><i
																	class="fa-solid fa-mug-saucer"></i></span>
															<span class="square--20 rounded text-xs text-muted border" data-bs-toggle="tooltip"
																data-bs-placement="top" data-bs-title="Pet Allow"><i class="fa-solid fa-dog"></i></span>
														</div> {% endcomment %}
														<div class="text-start text-md-end">
															{% if discount %}
															<span class="label bg-light-success text-success me-1">{{discount_percent}}% Off</span>
															{% endif %}
															<div class="text-dark fs-3 fw-bold lh-base">₹ {{i.route.base_price}}</div>
															<div class="text-muted text-sm mb-2">Non Refundable</div>
														</div>

														<div class="flight-button-wrap">
															<button class="btn btn-warning btn-md fw-medium full-width" onclick="window.location.href='{% url 'view_routes' i.route.id %}'">
																Book Now<i class="fa-solid fa-arrow-trend-up ms-2"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}


							

							
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ============================ All Flits Search Lists End ================================== -->
		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				// Set min attribute for date inputs to block dates earlier than today
				const today = new Date().toISOString().split('T')[0];
				document.getElementById('to1').setAttribute('min', today);
			});
		</script>
		{% endblock body %}
