{% extends "template.html" %}

	{% block body %}
	
	<style>
		.bus-layout {
            display: grid;
            grid-template-columns: repeat(5, 50px);
            gap: 10px;
            justify-content: center;
            margin: 0 auto;
            width: 300px;
        }
        .seat {
            position: relative;
        }
        .seat input {
            display: none;
        }
        .seat label {
			display: block;
			width: 33px;
			height: 37px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #f8f8f8;
			text-align: center;
			line-height: 38px;
			cursor: pointer;
        }
        .seat input:checked + label {
            background-color: #4caf50;
            color: #fff;
        }
		.seat input[disabled] + label {
			background-color: #ff5722; /* Change this to your desired color for booked seats */
			color: #fff; /* Text color for booked seats */
		}
		.seat label.booked {
			color: red;
		}
        .row-space {
            height: 20px;
        }
        .column-space {
            width: 50px;
        }
		.popup-seat-selector {
			display: flex ;
			flex-wrap: nowrap;
			justify-content: space-around;
			flex-direction: row;}
		.card-body{
				display: flex;
				justify-content: space-around;
			}
		@media (max-width: 768px) {
			.popup-seat-selector {
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-around;
				flex-direction: column-reverse;
			}
			.card-body{
				display: flex;
				flex-wrap: wrap;
				flex-direction: row-reverse;
			}
			}
		
	</style>
		<!-- ============================ Hotel Details Start ================================== -->
		<section class="pt-3 gray-simple">
			<div class="container">
				<div class="row">

					<!-- Breadcrumb -->
					<div class="col-xl-12 col-lg-12 col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-primary">Home > </a></li>
								<li class="breadcrumb-item"><a href="{% url 'available_routes' %}" class="text-primary">Book Now > </a></li>
								<li class="breadcrumb-item active" aria-current="page">{{route.boarding_point.name}} To {{last_dropping_point.dropping_point.name}}</li>
							</ol>
						</nav>
					</div>

					<!-- Flight Info -->
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="row">
							<div class="col-xl-12 col-lg-8 col-md-12">
								<div class="card border-0 mb-4">
									<div class="card-body ">
										<div class="crd-block d-md-flex align-items-start justify-content-start">
											<div class="crd-heaader-0 flex-shrink-0 mb-3 mb-md-0">
												<div class="square--70 rounded-2 bg-light-primary text-primary fs-3"><i class="fa-solid fa-bus"></i></div>
											</div>
											<div class="crd-heaader-first ps-md-3">
												{% comment %} <div class="d-inline-flex align-items-center mb-1">
													<span class="label fw-medium bg-light-success text-success">Business Class</span>
												</div> {% endcomment %}
												<div class="d-block">
													<h4 class="mb-0">{{route.boarding_point.name}}<span class="text-muted-2 mx-3"><i class="fa-solid fa-arrow-right-arrow-left"></i></span>{{last_dropping_point.dropping_point.name}}</h4>
													<div class="explotter-info">
														<p class="detail ellipsis-container fw-semibold">
															<span class="ellipsis-item__normal">{{route.boarding_date}}</span>
															<span class="separate ellipsis-item__normal"></span>
															<span class="ellipsis-item">{{route.route_dropping_points.route_dropping_point.all.count}} Stop</span>
															<span class="separate ellipsis-item__normal"></span>
															<span class="ellipsis-item">{{travel_duration}}</span>
														</p>
													</div>
												</div>
											</div>
											
											
												
										</div>
										<div class="flight-button-wrap m-auto">
											<button class="btn btn-primary btn-md fw-medium full-width" data-bs-toggle="modal" data-bs-target="#available-seat">
												Book Now<i class="fa-solid fa-arrow-trend-up ms-2"></i>
											</button>
										</div>
										<div class="card-footer bg-white border-top py-3">
											<div class="text-start text-md-end">
												{% if discount %}
												<span class="label bg-light-success text-success me-1">{{discount_percent}}% Off</span>
												{% endif %}
												<div class="text-dark fs-3 fw-bold lh-base d-flex " style="    align-items: baseline;justify-content: end;">
													<p class="text-sm text-muted"> (Per Seat )</p> 	
													₹ {{route.base_price}}
												
												</div>
												<div class="text-muted text-sm mb-2">Non Refundable</div>
											</div>
										</div>
									
									</div>
								</div>
								
								<!-- Flight Info -->
								<div class="card border-0 mb-4">
									<div class="card-body">
										<div class="flights-accordion">
											<div class="flights-list-item">
												<div class="row gy-4 align-items-center justify-content-between">

													<div class="col">
														<div class="row">
															<div class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-between">
																<div class="d-flex align-items-center mb-2">
																	<span class="label bg-light-primary text-primary me-2">Departure</span>
																	<span class="text-muted text-sm">{{route.boarding_date }}</span>
																</div>
		
																<div class="d-flex align-items-center mb-2">
																	<span class="text-bold text-large">Available Seats : {{available_seats}}</span>
																</div>
																
															</div>
															
															<div class="col-xl-12 col-lg-12 col-md-12">
																<div class="row gx-lg-5 gx-3 gy-4 align-items-center">
		
																	<div class="col-sm-auto">
																		<div class="d-flex align-items-center justify-content-start">
																			<div class="d-start fl-pic">
																				<img class="img-fluid" src="../static/img/logo.png" width="45" alt="image">
																			</div>
																			<div class="d-end fl-title ps-2">
																				<div class="text-dark fw-medium">Kavya Travels</div>
																			</div>
																		</div>
																		<div class="text-muted fw-sm">{% for j in route.facilites.all %}
																		{{j.name}}, 
																		{% endfor %}</div>
		
																	</div>
		
																	<div class="col">
																		<div class="row gx-3 align-items-center">
																			<div class="col-auto">
																				<div class="text-dark fw-bold">{{route.boarding_time}}</div>
																				<div class="text-muted text-sm fw-medium">{{route.boarding_point.name}}</div>
																			</div>
		
																			<div class="col text-center">
																				<span class="svg-icon svg-icon-muted svg-icon-2hx px-1">
																					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																					  <path
																						d="M17.4 7H4C3.4 7 3 7.4 3 8C3 8.6 3.4 9 4 9H17.4V7ZM6.60001 15H20C20.6 15 21 15.4 21 16C21 16.6 20.6 17 20 17H6.60001V15Z"
																						fill="currentColor" />
																					  <path opacity="0.3"
																						d="M17.4 3V13L21.7 8.70001C22.1 8.30001 22.1 7.69999 21.7 7.29999L17.4 3ZM6.6 11V21L2.3 16.7C1.9 16.3 1.9 15.7 2.3 15.3L6.6 11Z"
																						fill="currentColor" />
																					</svg>
																				  </span>
																				{% comment %} <div class="text-muted text-sm fw-medium mt-3">Thane</div> {% endcomment %}
																			</div>
		
																			<div class="col-auto">
																				<div class="text-dark fw-bold">{{route.dropping_time}}</div>
																				<div class="text-muted text-sm fw-medium">{{ last_dropping_point.dropping_point.name}}</div>
																			</div>
																		</div>
																	</div>
		
																	<div class="col-md-auto">
																		<div class="text-dark fw-medium">{{travel_duration}}</div>
																		<div class="text-muted text-sm fw-medium">{{route.route_dropping_points.route_dropping_point.all.count}} Stop</div>
																	</div>
																</div>
																<div class="d-flex justify-content-center align-items-center">
																	<p>{{route.boarding_point.name}} </p> 
																	<p> {% for j in route.route_dropping_points.route_dropping_point.all  %}
																		 - {{j.dropping_point.name}}
																	{% endfor %} </p> 
																</div>
		
															</div>
														</div>
		
													
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								{% if request.user.is_authenticated %}
								{% else %}
								<!-- Login Alert -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="d-flex align-items-center justify-content-start py-3 px-3 rounded-2 bg-success mb-4">
										<p class="text-light fw-semibold m-0"><i class="fa-solid fa-gift text-warning me-2"></i><a href="#"
											class="text-white text-decoration-underline">Login</a> or <a href="#"
											class="text-white text-decoration-underline">Register</a> to book this bus tickets.</p>
										<p>
									</div>
								</div> 
										
										{% endif %}
								<!-- Flight Details -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<!-- Overview -->
									<div class="card mb-4">
										<div class="card-header">
											<h6 class="fw-semibold mb-0">Overview</h6>
										</div>

										<div class="card-body">
											<p class="mb-0">Kavya Tours and Travels, your trusted partner in bus transportation, offers reliable and comfortable travel experiences. Our extensive fleet of modern buses ensures a safe and pleasant journey for all passengers. We are committed to providing top-notch service, punctual departures, and convenient routes, connecting you to your destination seamlessly. Whether you're traveling for business or leisure, Kavya Tours and Travels is dedicated to making your journey enjoyable and hassle-free.</p></div>
									</div>
								</div>
								
								<!-- Highlights -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="card mb-4">
										<div class="card-header">
											<h6 class="fw-semibold mb-0">Highlights</h6>
										</div>

										<div class="card-body">
											<ul class="row align-items-center p-0 g-3">
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Exceptional Comfort: Experience luxurious seating and ample legroom for a relaxing trip.
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Punctual Departures: We value your time, ensuring timely departures and arrivals.
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Safety First: Our buses are equipped with advanced safety features and undergo regular maintenance.
													Niagara Falls
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Affordable Prices: Enjoy competitive pricing without compromising on quality and comfort.
													tours.
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Wide Network: Covering numerous destinations, we connect you to key locations across the region.
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Professional Staff: Our trained and courteous staff are here to assist you throughout your journey.
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Onboard Amenities: Benefit from air conditioning, Wi-Fi, and entertainment options on select routes.
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Eco-Friendly Travel: Committed to sustainability, our modern fleet is designed to minimize environmental impact.
												</li>
											</ul>
										</div>
									</div>
								</div>
								
								{% comment %} <!-- Traveler Details -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<!-- Overview -->
									<div class="card">
										<div class="card-header">
											<h6 class="fw-semibold mb-0">Traveler Details</h6>
										</div>

										<div class="card-body">
											
											<div class="bg-success bg-opacity-10 rounded-2 p-3 mb-3">
												<p class="h6 text-md mb-0"><span class="badge bg-success me-2">New</span>Please enter your name as per your passport ID</p>
											</div>
										
											<div class="gray rounded-3 position-relative p-4 mb-3">
												<div class="position-absolute top-50 end-0 translate-middle-y me-2">
													<a href="#" class="text-primary fs-5"><i class="fa-solid fa-circle-xmark"></i></a>
												</div>
												<div class="row align-items-center row-cols-xl-5 row-cols-lg-3 row-cols-md-3 col-cols-2">
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Name</p>
														<p class="text-muted-2 fw-medium lh-1">Daniel Puran</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Passport</p>
														<p class="text-muted-2 fw-medium lh-1">BKP1256GH</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Gender</p>
														<p class="text-muted-2 fw-medium lh-1">Male</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Age</p>
														<p class="text-muted-2 fw-medium lh-1">42+</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Nationality</p>
														<p class="text-muted-2 fw-medium lh-1">Indian</p>
													</div>
												</div>
											</div>
											
											<div class="gray rounded-3 position-relative p-4 mb-4">
												<div class="position-absolute top-50 end-0 translate-middle-y me-2">
													<a href="#" class="text-primary fs-5"><i class="fa-solid fa-circle-xmark"></i></a>
												</div>
												<div class="row align-items-center row-cols-xl-5 row-cols-lg-3 row-cols-md-3 col-cols-2">
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Name</p>
														<p class="text-muted-2 fw-medium lh-1">Smrithi Puran</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Passport</p>
														<p class="text-muted-2 fw-medium lh-1">SPK6524GY</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Gender</p>
														<p class="text-muted-2 fw-medium lh-1">Female</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Age</p>
														<p class="text-muted-2 fw-medium lh-1">38+</p>
													</div>
													<div class="col">
														<p class="text-dark fw-semibold lh-base">Nationality</p>
														<p class="text-muted-2 fw-medium lh-1">Indian</p>
													</div>
												</div>
											</div>
											
											<div class="full-width d-flex flex-column mb-4 position-relative">
						
												<div class="row align-items-stat">
													<div class="col-xl-12 col-lg-12 col-md-12 mb-2">
														<h5>Add More Passengers</h5>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">First Name</label>
															<input type="text" class="form-control" placeholder="Your First Name">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Last Name</label>
															<input type="text" class="form-control" placeholder="Your Last Name">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Passport Number</label>
															<input type="text" class="form-control" placeholder="Passport Number Here">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Passport Expire</label>
															<input type="text" class="form-control" placeholder="Passport Expire Date">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Date of birth</label>
															<input class="form-control fw-bold" type="text" placeholder="Select Date.." id="basicDate" readonly="readonly">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Nationality</label>
															<select class="select form-control">
																<option value="lv">Las Vegas</option>
																<option value="la">Los Angeles</option>
																<option value="kc">Kansas City</option>
																<option value="no">New Orleans</option>
																<option value="kc">Jacksonville</option>
																<option value="lb">Long Beach</option>
																<option value="cl">Columbus</option>
																<option value="cn">Canada</option>
															</select>
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Gender</label>
															<div class="form-group">
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="radio" name="gender" id="male" value="option1">
																	<label class="form-check-label" for="male">Male</label>
																</div>
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="radio" name="gender" id="female" value="option2">
																	<label class="form-check-label" for="female">Female</label>
																</div>
															</div>
														</div>
													</div>
													
													<div class="col-xl-12 col-lg-12 col-md-12">
														<button class="btn btn-md px-5 btn-light-primary fw-medium" type="button">Add Passengers</button>
													</div>
													
												</div>
											</div>
											
											<div class="full-width d-flex flex-column mb-2 position-relative">
						
												<div class="row align-items-stat">
													<div class="col-xl-12 col-lg-12 col-md-12 mb-2">
														<h5>Personal Information</h5>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Email Address</label>
															<input type="text" class="form-control" placeholder="Email Here">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Mobile number</label>
															<input type="text" class="form-control" placeholder="Contact Number">
														</div>
													</div>

													<div class="col-xl-12 col-lg-12 col-md-12">
														<button class="btn btn-md full-width px-5 btn-primary fw-medium" type="button">Submit & Proceed for Payment</button>
													</div>
													
												</div>
											</div>
											
										</div>
									</div>
								</div> {% endcomment %}
								
							</div>
							
							
							
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ============================ Hotel Details End ================================== -->





		<!-- Log In Modal -->
		<div class="modal fade" id="available-seat" tabindex="-1" role="dialog" aria-labelledby="available-seatmodal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
			  <div class="modal-content" id="available-seatmodal">
				<div class="modal-header">
				  <h4 class="modal-title fs-6">Available Seats</h4>
				  <a href="#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
					  class="fa-solid fa-square-xmark"></i></a>
				</div>
				<div class="popup-seat-selector">

					<div class="crd-heaader-0 flex-shrink-0 p-3 mb-md-0">
						<div class="seate-info">
							<div class="bus-layout">
								<!-- First row -->
								<div class="seat">
									<input type="checkbox" id="seatv1">
									<label for="seatv1">v1</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seatv2">
									<label for="seatv2">v2</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seatA">
									<label for="seatA">A</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seatB">
									<label for="seatB">B</label>
								</div>
						
								<!-- Repeat for additional rows -->
								<div class="seat">
									<input type="checkbox" id="seatC">
									<label for="seatC">C</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seatD">
									<label for="seatD">D</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seatE">
									<label for="seatE">E</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seatF">
									<label for="seatF">F</label>
								</div>

								<!-- Repeat for additional rows -->
								<div class="seat">
									<input type="checkbox" id="seatG">
									<label for="seatG">G</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seatH">
									<label for="seatH">H</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seatI">
									<label for="seatI">I</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seatJ">
									<label for="seatJ">J</label>
								</div>
								

								<!-- First row -->
								<div class="seat">
									<input type="checkbox" id="seat1">
									<label for="seat1">1</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat2">
									<label for="seat2">2</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat3">
									<label for="seat3">3</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat4">
									<label for="seat4">4</label>
								</div>
								
								<!-- Second row -->
								<div class="seat">
									<input type="checkbox" id="seat5">
									<label for="seat5">5</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat6">
									<label for="seat6">6</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat7">
									<label for="seat7">7</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat8">
									<label for="seat8">8</label>
								</div>
								
								<!-- Third row -->
								<div class="seat">
									<input type="checkbox" id="seat9">
									<label for="seat9">9</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat10">
									<label for="seat10">10</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat11">
									<label for="seat11">11</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat12">
									<label for="seat12">12</label>
								</div>
								
								<!-- Fourth row -->
								<div class="seat">
									<input type="checkbox" id="seat13">
									<label for="seat13">13</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat14">
									<label for="seat14">14</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat15">
									<label for="seat15">15</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat16">
									<label for="seat16">16</label>
								</div>
								
								<!-- Fifth row -->
								<div class="seat">
									<input type="checkbox" id="seat17">
									<label for="seat17">17</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat18">
									<label for="seat18">18</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat19">
									<label for="seat19">19</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat20">
									<label for="seat20">20</label>
								</div>
								
								<!-- Sixth row -->
								<div class="seat">
									<input type="checkbox" id="seat21">
									<label for="seat21">21</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat22">
									<label for="seat22">22</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat23">
									<label for="seat23">23</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat24">
									<label for="seat24">24</label>
								</div>
								
								<!-- Seventh row -->
								<div class="seat">
									<input type="checkbox" id="seat25">
									<label for="seat25">25</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat26">
									<label for="seat26">26</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat27">
									<label for="seat27">27</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat28">
									<label for="seat28">28</label>
								</div>
								
								<!-- Eighth row -->
								<div class="seat">
									<input type="checkbox" id="seat29">
									<label for="seat29">29</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat30">
									<label for="seat30">30</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat31">
									<label for="seat31">31</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat32">
									<label for="seat32">32</label>
								</div>
								
								<!-- Ninth row -->
								<div class="seat">
									<input type="checkbox" id="seat33">
									<label for="seat33">33</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat34">
									<label for="seat34">34</label>
								</div>
								<div class="column-space"></div>
								<div class="seat">
									<input type="checkbox" id="seat36">
									<label for="seat36">36</label>
								</div>
								<div class="seat">
									<input type="checkbox" id="seat37">
									<label for="seat37">37</label>
								</div>


								<div class="seat">
									<input type="checkbox" id="seat35">
									<label for="seat35" style="    width: 18rem !important;">35</label>
								</div>
							</div>
						</div>

					</div>
					<form action="{% url 'book-route' %}" method="POST">
						{% csrf_token %}
						<div>
							<p id="count-seats">Selected Seats : 0</p> 
							<input type="hidden" id="selectedSeatsInput" name="selectedSeats">
							<input type="hidden" id="routeID" name="routeID" value="{{route.id}}">
							<input type="hidden" id="seatCountInput" name="seatCount">
						
								<div class="card mb-4 mt-lg-0 mt-4">
									<div class="card-header"><h4>Price Summary</h4></div>
									<div class="card-body py-2">
										<div class="price-summary">
											<ul class="list-group">
												<li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
													Base Fare 
													<span class="fw-semibold text-dark">₹ {{route.base_price}}</span>
												</li>
												{% comment %} <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
													Discount
													<span class="fw-semibold text-success">-₹45</span>
												</li> {% endcomment %}
												<li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
													No. Seats :
													<span class="fw-semibold text-dark " id="count-seats2">0</span>
												</li>
											</ul>
										</div>
									</div>
									<div class="card-footer bg-white border-top py-3">
										<div class="d-flex align-items-center justify-content-between">
											<p class="fw-semibold text-muted-2 mb-0">Total Price</p>
											<p class="fw-semibold text-primary mb-0" id="total-price">₹ 0</p>
										</div>
									</div>
								</div>
								{% if request.user.is_authenticated %}
								<button class="btn btn-primary btn-md fw-medium full-width mt-3" type="submit"  >
									Confirm<i class="fa-solid fa-arrow-trend-up ms-2"></i>
								</button>
								{% else  %}
								<button class="btn btn-primary btn-md fw-medium full-width mt-3" type="button" data-bs-toggle="modal" data-bs-target="#login">
									Login to confirm<i class="fa-solid fa-arrow-trend-up ms-2"></i>
								</button>
								{% endif %}
							</div>
						</div> 
					</form>
				</div> 

			  </div>
			</div>
		</div>
		  <!-- End Modal -->


		  <script>
			const bookedSeats = {{ booked_seats|safe }};
			document.addEventListener("DOMContentLoaded", function() {
				bookedSeats.forEach(seat => {
					const seatCheckbox = document.getElementById(`seat${seat}`);
					if (seatCheckbox) {
						seatCheckbox.disabled = true;
						seatCheckbox.nextElementSibling.classList.add('booked');
					}
				});
			});


			document.addEventListener('DOMContentLoaded', function() {
				const seats = document.querySelectorAll('.seat input[type="checkbox"]');
				const selectedSeatsInput = document.getElementById('selectedSeatsInput');
				const seatCountInput = document.getElementById('seatCountInput');
				const selectedSeatsDisplay = document.getElementById('count-seats');
				const selectedSeatsDisplay2 = document.getElementById('count-seats2');
				const totalPriceDisplay = document.getElementById('total-price');
				const baseprice = {{route.base_price}};
			
				seats.forEach(seat => {
					seat.addEventListener('change', updateSelectedSeats);
				});
			
				function updateSelectedSeats() {
					const selectedSeats = Array.from(seats)
						.filter(seat => seat.checked)
						.map(seat => seat.id.replace('seat', ''));
			
					const seatCount = selectedSeats.length;
			
					selectedSeatsInput.value = selectedSeats.join(',');
					seatCountInput.value = seatCount;
					selectedSeatsDisplay.textContent = `Selected Seats: ${seatCount}`;
					selectedSeatsDisplay2.textContent = ` ${seatCount}`;
					totalPriceDisplay.textContent = `₹ ${seatCount * parseInt(baseprice)}`;

				}
			});
		  </script>
		{% endblock body %}
