{% extends "template.html" %}

{% block body %}

		<!-- ============================ User Dashboard Menu ============================ -->
		<div class="dashboard-menus border-top d-none d-lg-block">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<ul class="user-Dashboard-menu">
							<li class="active"><a href="{% url 'profile' %}"><i class="fa-regular fa-id-card me-2"></i>My Profile</a>
							</li>
							<li><a href="{% url 'my_bookings' %}"><i class="fa-solid fa-ticket me-2"></i>My Booking</a>
							</li>
							<li><a href="{% url 'payment_details' %}"><i class="fa-solid fa-wallet me-2"></i>Payment Details</a></li>
							<li><a href="{% url 'logout' %}"><i class="fa-solid fa-power-off me-2"></i>LogOut</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================ End user Dashboard Menu ============================ -->
		<!-- ============================ Booking Page ================================== -->
		<section class="pt-5 gray-simple position-relative">
			<div class="container">

				<div class="row align-items-center justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 mb-4">
						<button class="btn btn-dark fw-medium full-width d-block d-lg-none" data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasDashboard" aria-controls="offcanvasDashboard"><i
								class="fa-solid fa-gauge me-2"></i>Dashboard
							Navigation</button>
						<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
							id="offcanvasDashboard" aria-labelledby="offcanvasScrollingLabel">
							<div class="offcanvas-header gray-simple">
								<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menu</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body p-0">
								<ul class="user-Dashboard-longmenu">
									<li class="active"><a href="{% url 'profile' %}"><i class="fa-regular fa-id-card me-2"></i>My Profile</a>
									</li>
									<li><a href="#"><i class="fa-solid fa-ticket me-2"></i>My Booking</a>
									</li>
									<li><a href="#"><i class="fa-solid fa-wallet me-2"></i>Payment Details</a></li>
									<li><a href="{% url 'logout' %}"><i class="fa-solid fa-power-off me-2"></i>Sign Out</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row align-items-start justify-content-between gx-xl-4">

					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card rounded-2 me-xl-5 mb-4">
							<div class="card-top bg-primary position-relative">
								<div class="position-absolute end-0 top-0 mt-4 me-3"><a href="{% url 'logout' %}"
										class="square--40 circle bg-light-dark text-light"><i
											class="fa-solid fa-right-from-bracket"></i></a></div>
								<div class="py-5 px-3">
									
									<div class="crd-capser text-center">
										<h5 class="mb-0 text-light fw-semibold">{{request.user.name}}</h5>
										<span class="text-light opacity-75 fw-medium text-md"><i
												class="fa-solid fa-location-dot me-2"></i>{{request.user.address}}</span>
									</div>
								</div>
							</div>

							<div class="card-middle px-4 py-5">
								<div class="crdapproval-groups">

									

									<div class="crdapproval-single d-flex align-items-center justify-content-start mb-4">
										<div class="crdapproval-item">
											<div class="square--50 circle{% if request.user.is_verified %} bg-light-success text-success{% else %} bg-light-warning text-warning{% endif %}"><i
													class="fa-solid fa-phone-volume fs-5"></i></div>
										</div>
										<div class="crdapproval-caps ps-2">
											<p class="fw-semibold text-dark lh-2 mb-0">{% if request.user.is_verified %}Verified {% else %} Not Verified {% endif %} Mobile Number</p>
										</div>
									</div>

									<div class="crdapproval-single d-flex align-items-center justify-content-start">
										<div class="crdapproval-item">
											<div class="square--50 circle {% if profile_complete %} bg-light-success text-success{% else %} bg-light-warning text-warning{% endif %}"><i
													class="fa-solid fa-file-invoice fs-5"></i></div>
										</div>
										<div class="crdapproval-caps ps-2">
											<p class="fw-semibold text-dark lh-2 mb-0">{% if profile_complete %}Profile is 100% completed{% endif %} Complete Basic Info</p>
										</div>
									</div>

								</div>
							</div>

							
						</div>
					</div>
					{% block content %}
					
					{% endblock content %}
				</div>
			</div>
		</section>
		{% endblock body %}
